.container {
	height: 100% !important;
	width: 100%;
}

.header {
	margin: 0 auto;
	width:100%;
	height: 15%;
	background-color: blue;
}

.messageBody{
	height: 70%;
	background-color: azure;
}

.text{
	height: 15%;
	background-color: orange;
}

.closeButton {
	width: 25px;
}
